.App{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.firstimage{
  margin-top: 20px;
  justify-content: center;
  max-height: 100vh;
 
  background-position: center;
  background-size: cover; 
  opacity: 1;
}
.cardimage{
  
  display: flex;
  flex-direction: row;
}